<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Query task{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/selectQueryBody.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% endblock %}

</head>
<body>
{{ include('default/header.phtml') }}
{% if selector is defined %}
{{ include('default/selector.phtml') }}{# todo render#}
{% endif  %}
<div id="wrapper">{% block content %}{% endblock %}</div>
{{ include('default/footer.phtml') }}
</body>
</html>

